@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300;600&family=Roboto+Slab:wght@700&family=Staatliches&family=Ubuntu:wght@300&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 900;
}
/* navgiation bar css */
nav {
  background: #000;
  height: 100px;
  width: 100%;
  position: fixed;
}

label#logo {
  color: white;
  font-family: 'Ubuntu', sans-serif;
  font-size: 250%;
  line-height: 85px;
  padding: 0 80px;
  font-weight: bold;
}

nav ul {
  float: right;
}

nav ul li {
  display: inline-block;
  line-height: 85px;
  margin: 0 20px;
}

nav ul li a {
  color: white;
  font-size: 20px;
  padding: 7px 13px;
  border-radius: 10px;
  text-transform: uppercase;
}

/*hover effects on the navigation bar links*/

#current-page {
  background: #e62e00;
}

.nav-hover:hover{
  background: #e62e00;
/*  transition: .5s;*/
}

.contact-hover:hover{
  color: black;
  background: white;
}
.checkbtn {
  font-size: 30px;
  color: rgba(245, 242, 235);
  float: right;
  line-height: 85px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

/* media screen adaptation for nav bar css */
@media (max-width: 1200px){
  label#logo {
    font-size: 30px;
    padding-left: 20px;
  }

nav ul li a {
  font-size: 15px;
}
}

/* additional media screen adaptation for nav bar css */
@media (max-width: 880px){
  .checkbtn {
    display: block;
  }
  nav ul {
    position: fixed;
    width: 100%;
    height: 65vh;
    background: #e62e00;
    top: 100px;
    right: -100%;
    text-align: center;
    transition: all .5s;
  }
nav ul li {
  display: block;
  margin: 50px 0;
  line-height: 30px;
}
  nav ul li a {
    font-size: 20px;
  }
a:hover,a.active{
  background: none;
  color:#000000;
  font-style: bold;
}
  #check:checked ~ ul{
   right: 0;
  }
}

/* section css styling for background image */
#section1 {
  background: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)),url(../images/astronaught1.jpg) no-repeat center center;
  background-size: cover;
  background-color: black;
  width: 100%;
}

/* row and two column styling including button and images */
.row {
  display: flex;
  align-items: center;
}
.col{
  flex-basis: 50%;
}

.col h1, .col h2, .col h3, .col h4, .col h5, .col p {
  font-family: 'Ubuntu', sans-serif;
  color: white;
}

.col h1 {
  font-size: 80px;
}

.col h3 {
  font-size: 25px;
}

.col h5 {
  font-size: 20px;
  text-align: center;
}

.col p {
  font-size: 15px;
  line-height: 30px;
  text-align: center;
}

.right-col {
  padding: 180px 0px 100px 0px;
}

.left-col {
  margin-left: 70px;
}
button {
  width: 220px;
  height: 50px;
  color: #000;
  font-size: 18px;
  padding: 12px 0;
  background: #fff;
  border: 0;
  border-radius: 30px;
  outline: none;
  margin-top: 40px;
}

.a-button {
  text-decoration: none;
  color: #000;
  font-family: 'Ubuntu', sans-serif;
}
.a-button:hover {
  font-size: 22px;
  width: 50%;
  height: 65px;
  transition: 0.5s;
}
/*The 4 segments styling including back-up black background incase the images don't load*/
.card {
  width: 220px;
  height: 235px;
  display: inline-block;
  border-radius: 30px;
  padding: 15px 25px;
  box-sizing: border-box;
  cursor: pointer;
  margin: 10px 15px;
  background-color: black;
  background-position: center;
  background-size: cover;
}

/* hover effect on card images */

.card:hover {
  opacity: 0.8;
}

/* card 1 2 3 4 css styling */

.card1 {
  background-image: url(../images/orange.jpg);
  background-position: center;
  background-size: cover;

}

.card2 {
  background-image: url(../images/arch.jpg);
  background-position: center;
  background-size: cover;
}

.card3 {
  background-image: url(../images/stars.jpg);
  background-position: center;
  background-size: cover;
}

.card4 {
  background-image: url(../images/milky.jpg);
  background-position: center;
  background-size: cover;
}

/*section 2 styling featuring the upcoming meet up times and events for the movie club*/
#section2 {
    background-color: #fff;
    min-height: 800px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

#section2 h1 {
    text-align: center;
    padding: 20px 5px 5px 5px;
    font-weight: 100%;
}
  .events {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    background: url(../images/astronaught2.jpg) no-repeat center;
    background-size: cover;
    overflow: hidden;
    border: 30px solid #fff;
    /*#f7f4ed*/
  }
  
  .events div {
    width: 20%;
    height: 300px;
    background-color: rgba(0,0,0,0.5);
    float: left;
    padding: 20px 20px 20px 30px;
    color: white;
    border: 5px solid #fff;
    text-align: center;
    box-sizing: border-box;
    line-height: 32px;
  }

.maps1 {
  padding-top: 10px;
  margin: 10px;
}

/* About Us Page */

#about-page {
    background: #f7f4ed;
    width: 100%;
  }
  
  .about-header {
    display: flex;
    flex-direction: center;
    width: 80%;
    background: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)),url(../images/ufo.jpg) no-repeat center center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
  }
.about {
  font-family: 'Ubuntu', sans-serif;
    color: black;
    text-align: center;
  }
  
  .about h1 {
    font-size: 80px;
  }
  
  .about h3 {
    font-size: 25px;
  }
  
  .about h5 {
    font-size: 20px;
  }
  .about p {
    line-height: 40px;
  }
ol {
    text-align: center;
  }
  i {
    margin-right: 10px;
  }

  #movies-page {
    background: white;
    width: 100%;
    text-align: center;
  }
  
  .movies-content {
    color: #000;
    padding-top: 130px;
    margin: auto;
    overflow: hidden;
  }
.movies1 img {
  display: block;
  width: 500px;
  height: 300px;
  border-radius: 30px;
  margin-left: auto;
  margin-right: auto;

}

.border {
  width: 200px;
  height: 2px;
  background-color: #000;
  margin: 10px auto;
}

.movies-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.movies-col {
  max-width: 40%;
  padding: 20px;
}

.movie-name {
  padding: 30px;
  background: #FAF9F6;
}

.stars {
  margin: 2px;
}

.review {
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  border-radius: 4px;
  overflow: hidden;
  font-family: 'Ubuntu', sans-serif;
  background-color: #e62e00;
  text-align: left;
}

.review p {
  padding: 10px;
}

.review__label {
  padding: 14px 20px;
  display: block;
  cursor: pointer;
  position: relative;
  transition: background 0.1s;
}

.review__label:hover {
  background: rgba(0,0,0,0.1);
}

.review__label::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
  width: 16px;
  height: 8px;
  background-image: url('data:image/svg+xml;utf8,<svg width="100" height="50" xmlns="http://www.w3.org/2000/svg"><polygon points="0,0 100,0 50,50" style="fill:%23FFFFFF99;" /></svg>');
  background-size: contain;
  transition: transform 0.4s;
}

.review__content {
  background: #fff;
  line-height: 1.6;
  font-size: 0.85em;
  display: none;
}

.review__input {
  display: none;
}

.review__input:checked ~ .review__content {
  display: block;
}

.review__input:checked ~ .review__label::after {
  transform: translateY(-50%) rotate(0.5turn);
}

#contact-page {
  background: url(../images/satellite.jpg) no-repeat center center;
  background-size: cover;
  background-color: black;
  width: 100%;
  height: 960px;
  font-family: 'Ubuntu', sans-serif;
}

.contact-content {
  display: flex;
  justify-content: center;
}
form {
  flex-direction: column;
  background-color: #fff;
  opacity: 0.9;
  width: 50%;
  border-radius: 10px;
  border: #000 solid 2px;
  margin: 150px;
  padding: 20px;
}

form h2 {
  text-align: center;
}

#contact-form {
  border-radius: 20px;
  padding: 100px;
  color: white;
  display: flex;
  justify-content: center;
}

input[type=text], input[type=email], select, textarea {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border: 2px solid;
  border-radius: 8px;
  width: 85%;
  margin: 12px;
}

.contact-button {
background-color: #000;
color: white;
margin: 10px;
border: 10px;
}

.contact-button:hover {
  background-color: #e62e00;
}


footer {
  display: flex;
  justify-content: center;
  position: relative;
  background: #000;
  min-height: 100px;
  width: 100%;
  padding: 10px 40px;
  flex-direction: column;
  }

.social-networks {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.social-networks li{
  list-style: none;
  }
  
.social-networks i {
    color: white;
    transition: 0.4s;
    font-size: 190%;
    padding: 10px;
    margin: 0 30px;
  }

.fa-brands:hover{
    color:#e62e00;
  }

footer > h5 {
    color: white;
    text-align: center;
}